<p>
  Hi,<br>
  Greetings from The Economic Times!
  Click on the link below to register and help your friend get 5 points. Please ensure to use the same id to fill the registration form.
  <a href="http://www.winwithet.com/?=referred&referred_by=<%= @current_user.id %>">Check out the quiz through this link.</a>
  Win with ET is a game hosted in The Economic Times newspaper. Look out for the column in the paper every weekday and start playing the game. With every correct answer, you stand a chance to win exciting cash vouchers to redeem on any product of your choice on Indiatimes.com
  Pick up today's ET, look for 'Win with ET' and start playing.
  Wishing you all the best.
  <br><br>
<h4>Regards,<br>The Economic Times</h4>
Please do not reply to this mail. For any queries mail is on winwithet@timesgroup.com

