<p>
  Hi,<br>
  Greetings from The Economic Times and welcome to Win With ET.
  <br><br>

  <a href="http://www.winwithet.com/?=referred&referred_by=<%= @current_user.id %>">Check out the quiz through this link.</a>

  Win With ET is a quiz hosted in The Economic Times newspaper. Look out for the column in the newspaper every weekday to see what today’s question is. The answer to the question can be found in the same edition. All you need to do is find the correct answer after reading the right article and send us a simple SMS.
  With every correct answer, you increase your chances of winning exciting cash vouchers to redeem on any product of your choice on Indiatimes.com
  Visit now to start playing.<br>
  Wishing you all the best.
  <br><br>
<h4>Regards,<br>The Economic Times</h4>

</p>
