
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#lA">Prizes</a></li>
        <li class=""><a data-toggle="tab" href="#lB">How Do You Win?</a></li>
        <li class=""><a data-toggle="tab" href="#lC">Winning Strategies</a></li>
      </ul>
      <div class="tab-content">
        <div id="lA" class="tab-pane active">
          <p>Exciting prizes to be won every day!!!

            5 Daily Winners - Indiatimes Gift Vouchers worth Rs. 2500
            3 Weekly Winners - Indiatimes Gift Vouchers worth Rs. 5000
            1 Grand Prize - iPad Mini (64 GB)

            The Indiatimes vouchers can be clubbed and there is no limit on the number of times you win.
            So play daily and win as many vouchers as possible!
          </p>
        </div>
        <div id="lB" class="tab-pane">
          <p>Follow these simple steps to play the game:

            1. Pick up the day’s ET, spot the game column and read the question. Click here (jpeg of column to pop-up) to view a sample column

            2. Answer to the day’s question is hidden in one of the news stories in that day’s paper.

            3. SMS your answer in the format WINET< space >A/B/C/D to +91 9818505252  before 6:00 PM

            4. Every correct answer gives you 10 points. Play daily and maximize your score to win daily, weekly and the grand prize.

            5. Register yourself on Win with ET. Why Register?
            a. Be eligible to win the Weekly and Grand prize. (You can continue to play without registering but you cannot win the weekly or grand prize)
            b. Keep track of your scores on a daily basis
            c. See how your scores stack-up against other players

            6. Please be sure to use the same mobile number to play every day. This number will act as your unique identity to which all points for correct answers get accumulated.</p>
        </div>
        <div id="lC" class="tab-pane">
          <p>Promotions will be introduced at regular intervals in the quiz to enable players to win bonus points. This will help players to collect more points to catch up or stay ahead in the quiz.</p>
          <table class="table table-striped table-condensed">
            <thead>
            <th>Category</th>
            <th>Description</th>
            <th>Points</th>
            </thead>
            <tbody>
            <tr>
              <td>
                Quiz
              </td>
              <td>
                Daily Correct Answer
              </td>
              <td>
                10
              </td>
            </tr>
            <tr>
              <td>
                Double Delight Promotion
              </td>
              <td rowspan="2">
                Confident of your answer? Go for these promotions to bump up your score! Watch out, if the answer is wrong, you lose some points
              </td>
              <td>
               If availed when the promotion is active:30 for a correct answer. -20 if wrong
              </td>
            </tr>
            <tr>
              <td>
                Triple Treat Promotion
              </td>
              <td>
                If availed when the promotion is active:40 for a correct answer. -30 if wrong
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>