<style type="text/css">
    .nav-tabs > li > a {
        background-color:transparent;
        text-decoration: underline;
    }
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
        background-color:transparent;
        text-decoration: underline;
    }
</style>

    <div class="tabbable tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#lA">Win With ET</a></li>
        <li class=""><a data-toggle="tab" href="#lB">How To Play</a></li>
        <li class=""><a data-toggle="tab" href="#lC">Prizes</a></li>
      </ul>
      <div class="tab-content">
        <div id="lA" class="tab-pane active" style="color: black;">
          <p>Welcome to Win with ET - a daily reward for reading you favourite newspaper. An icing on top of the bigger reward, that's your zooming professional career.</p>
          <p>It's simple, it's fun and it's addictive. Everyday (Mon-Fri), you will find one or more questions in The Economic Times, based on news stories reported in the same edition. Just tell us the answer - as a single-alphabet option, in a simple SMS. That's it. You could be winner of daily prizes. Keep playing everyday, and you could accumulate enough points to win bigger, weekly and monthly prizes too. </p>
          <p>So pick up The Economic Times and start playing.</p>
          </div>
        <div id="lB" class="tab-pane" style="color: black;">
          <p>Following these simple steps to play the game:
            <ol>
                <li>Pick up the day’s ET, spot the 'Win with ET' column in the paper. Click here (jpeg of column to pop-up) to view a sample column</li>
                <li>Answer to the Daily Question (Mon-Fri) is hidden in one of the news stories in that day’s paper</li>
                <li>SMS your answer in the format WINET < space > A (or B, or C, or D) to +919818505252 before 6:00 PM (A/B/C/D refer to options of answers to the question)</li>
                <li>Every correct answer gives you 10 points. Play daily and maximize your score to win daily, weekly and the grand prize</li>
                <li>Register yourself on www.winwithet.com. This will help you:
                    <p>a. Keep track of your scores on a daily basis</p>
                    <p>b. See how your scores stack-up against other players</p>
                    <p>c. Browse through interesting articles and questions you have missed</p>
                <li>Please be sure to use the same mobile number to play every day. This number will act as your unique identity to which all points for correct answers get accumulated.</li>
            </ol>
        </div>
        <div id="lC" class="tab-pane" style="color: black;">
          <p>You stand to win Daily, Weekly and Grand prizes. Whats more, there is no limit to which you can club daily or weekly gift vouchers to purchase big ticket goodies</p>
          <p>So play daily and maximize your chances of winning Gift Vouchers!</p>
          <table class="table table-striped table-condensed">
            <thead>
            <th>5 Daily Winners</th>
            <th>3 Weekly Winners</th>
            <th>1 Grand Prize</th>
            </thead>
            <tbody>
            <tr>
              <td>
                Indiatimes Gift Vouchers worth Rs 2,500 each
              </td>
              <td>
                Indiatimes Gift Vouchers worth Rs 5,000 each
              </td>
              <td>
                iPad Mini (64 GB)
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


<script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');



    ga('create', 'UA-44964472-1', 'winwithet.com');

    ga('send', 'pageview');



</script>