<div class="white-card">
	<div class="blog-categories widget-tp">
		<p>Welcome to Win With ET– a quiz contest that makes newspaper reading a fun and rewarding experience. This quiz has been created with a unique template – where one does not need to look for answers online, but simply turns the pages of the newspaper itself. Intrigued? Read on.

          Every day a question will appear in The Economic Times, whose answer will be part of a story in that day’s newspaper. You can submit your answer via SMS. Prizes are to be won on a daily and weekly basis, as well as a Grand Prize at the end of the month!

          Along the way are exciting chances to bump-up your points, and a referral programme that will reward you for the friends you introduce to the quiz.<p>

        <h5>How To Participate?</h5>
        <p>Follow the 4 simple steps below to play the quiz:</p>
        <ol>
          <li>Pick up the day’s ET, spot the quiz column and read the question</li>
          <li>The answer to the question will be in one of the articles in that day’s paper ONLY. Read the article to find the answer. On some days this will be quite simple; on others it will require your full concentration. Click here (jpeg of column to pop-up) to see what the quiz column will look like.</li>
          <li>Send in your answer via SMS in the following format: WINETspace< Correct Option > to +91 9818505252</li>
          <li>Register yourself with WIN with ET. Why Register?<br>
            a. Be eligible to win prizes <br>
            b. Keep track of your scores on a daily basis  <br>
            c. See how your scores stack-up against other players</li>
        </ol>
        <p>Please be sure to use the same mobile number to play the quiz every day. It will act as your unique identity and all your points will keep getting added to this number.</p>
	</div>
</div>