<!--<div class="white-card">-->
	<!--<div class="blog-categories widget-tp">-->
		<!--<p>Welcome to Win With ET– a quiz contest that makes newspaper reading a fun and rewarding experience. This quiz has been created with a unique template – where one does not need to look for answers online, but simply turns the pages of the newspaper itself. Intrigued? Read on.-->

          <!--Every day a question will appear in The Economic Times, whose answer will be part of a story in that day’s newspaper. You can submit your answer via SMS. Prizes are to be won on a daily and weekly basis, as well as a Grand Prize at the end of the month!-->

          <!--Along the way are exciting chances to bump-up your points, and a referral programme that will reward you for the friends you introduce to the quiz.<p>-->

        <!--<h5>How To Participate?</h5>-->
        <!--<p>Follow the 4 simple steps below to play the quiz:</p>-->
        <!--<ol>-->
          <!--<li>Pick up the day’s ET, spot the quiz column and read the question</li>-->
          <!--<li>The answer to the question will be in one of the articles in that day’s paper ONLY. Read the article to find the answer. On some days this will be quite simple; on others it will require your full concentration. Click here (jpeg of column to pop-up) to see what the quiz column will look like.</li>-->
          <!--<li>Send in your answer via SMS in the following format: WINETspace< Correct Option > to +91 9818505252</li>-->
          <!--<li>Register yourself with WIN with ET. Why Register?<br>-->
            <!--a. Be eligible to win prizes <br>-->
            <!--b. Keep track of your scores on a daily basis  <br>-->
            <!--c. See how your scores stack-up against other players</li>-->
        <!--</ol>-->
        <!--<p>Please be sure to use the same mobile number to play the quiz every day. It will act as your unique identity and all your points will keep getting added to this number.</p>-->
	<!--</div>-->
<!--</div>-->

    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#lA">About</a></li>
        <li class=""><a data-toggle="tab" href="#lB">How to play?</a></li>
        <li class=""><a data-toggle="tab" href="#lC">Registration</a></li>
        <li class=""><a data-toggle="tab" href="#lD">Promotions</a></li>
        <li class=""><a data-toggle="tab" href="#lE">Refer a friend</a></li>
      </ul>
      <div class="tab-content">
        <div id="lA" class="tab-pane active">
          <p>Welcome to Win With ET– a quiz contest that makes newspaper reading a fun and rewarding experience. This quiz has been created with a unique template – where one does not need to look for answers online, but simply turns the pages of the newspaper itself. Intrigued? Read on.
            Every weekday (Monday to Friday) a question will appear in The Economic Times, whose answer will be part of a story in that day’s newspaper. You can submit your answer via SMS. Prizes are to be won on a daily and weekly basis, as well as a Grand Prize at the end of the month!
            Along the way are exciting chances to bump-up your points, and a referral programme that will reward you for the friends you introduce to the quiz.</p>
        </div>
        <div id="lB" class="tab-pane">
          <p>Follow the 4 simple steps below to play the quiz:
            1. Pick up the day’s ET, spot the quiz column and read the question. Click here (jpeg of column to pop-up) to see what the quiz column will look like.</br>
            2. The answer to the question will be in one of the articles in that day’s paper ONLY. Read the article to find the answer.</br>
            3. Send in your answer via SMS in the following format before 6:00 PM everyday:WINET<space>A/B/C/D to +91 9818505252
            4. Register yourself on Win With ET. Why Register?</br>
            a. Be eligible to win the Weekly and Grand prize. (You can continue to play without registering but you cannot win weekly/ Grand prize)</br>
            b. Keep track of your scores on a daily basis</br>
            c. See how your scores stack-up against other players</p>
        </div>
        <div id="lC" class="tab-pane">
          <p>How can you register?
            Played the Quiz-
            a. Log in with your mobile number and the password received via SMS
            b. If you cannot locate password, SMS WINET PWD to +91 9818505252
            c. Fill up the registration form
            Never played the Quiz
            a. Go to home page
            b. Click on New to Win With ET? Sign up
            c. Enter your mobile number
            d. Complete the Registration form and sign up
            e. You will receive a password via SMS
            f. Log in with your mobile number and the password received
            Please be sure to use the same mobile number to play the quiz every day. This number will act as your unique identity to which all points for correct answers get accumulated.</p>
        </div>
        <div id="lD" class="tab-pane">
          <p>Promotions will be introduced at regular intervals in the quiz to enable players to win bonus points. This will help players to collect more points to catch up or stay ahead in the quiz.</p>
          <table class="table table-striped table-condensed">
            <thead>
            <th>Category</th>
            <th>Description</th>
            <th>Points</th>
            </thead>
            <tbody>
            <tr>
              <td>
                Quiz
              </td>
              <td>
                Daily Correct Answer
              </td>
              <td>
                10
              </td>
            </tr>
            <tr>
              <td>
                Double Delight Promotion
              </td>
              <td rowspan="2">
                Confident of your answer? Go for these promotions to bump up your score! Watch out, if the answer is wrong, you lose some points
              </td>
              <td>
               If availed when the promotion is active:30 for a correct answer. -20 if wrong
              </td>
            </tr>
            <tr>
              <td>
                Triple Treat Promotion
              </td>
              <td>
                If availed when the promotion is active:40 for a correct answer. -30 if wrong
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div id="lE" class="tab-pane">
          <p>Enjoy playing Win With ET? Get your friends to also join and earn 5 Bonus Points for each referral!
            Remember, bonus points will be added to your score only after your friend clicks on the referral link and registers
            The quiz is currently open only to Bangalore residents. Please refer friends currently residing in Bangalore. Maximum number of referral points any player can gather is 100.
            Click here to refer a friend to Win With ET(link to be added)</p>
        </div>
      </div>
    </div>