.ch-grid {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 30%;
	height: 270px;
	display: inline-block;
}

.hero-unit{
    padding:20px;
    margin-bottom: 10px;
}

.insetted-info{
    padding:20px;
}

#refer-white-card{
    height:250px;
}

#rules-white-card{
    height:250px;
}

.avatar-icon{
    width:10%;
    display: inline-block;
    margin-right: 10px;
}

#register{
    width:25%;
    margin-left: -10%;
}